/* Ficha:2470980
Nombre: Cristian Quevedo
Profesor: Orlando*/

body {
    background-color: rgb(112, 112, 112);
}

.container {
    width: 1000px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(24, 23, 23);
}

#titulo {
    color: cadetblue;
    text-align: center;
}
#pa1 {
    color: grey;
}